@model IEnumerable<Game>

@{
    ViewData["Title"] = "Games";
}

<h2>
    <i class="bi bi-controller"></i>Games
</h2>
<hr />

<a class="btn btn-primary" asp-action="Create">
    <i class="bi bi-plus"></i>Add Movie
</a>

<div class="mt-4">

    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>No Games found!
        </div>

    }
    else
    {
        <div class="row">
            @foreach (var game in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-2 poster" style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(game.Poster)))"></div>
                            <div class="col-md-10">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h5 class="card-title">@game.Title @(game.Year)</h5>
                                        <p class="card-text text-justify">@(game.StoryLine.Length > 500 ? $"{ game.StoryLine.Substring(0, 500) }...": game.StoryLine )</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="card-text mb-0 mt-2">
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <small class="text-muted">@game.Rate.ToString("0.0")</small>
                                            </p>
                                        </div>
                                        <div>
                                            <a asp-action="Details" asp-route-id="@game.Id" class="btn btn-outline-secondary">
                                                <i class="bi bi-camera"></i>
                                                Details
                                            </a>
                                            <a asp-action="Edit" asp-route-id="@game.Id" class="btn btn-outline-primary">
                                                <i class="bi bi-pencil"></i>
                                                Edit
                                            </a>
                                            <a  class="btn btn-danger js-delete" data-id="@game.Id" asp-route-id="@game.Id" asp-action="Delete">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);
                bootbox.confirm({
                    message: "Are you sure that you need to delete this movie?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/movies/delete/' + btn.data('id'),
                                success: function () {
                                    var movieContainer = btn.parents('.col-12');
                                    movieContainer.addClass('animate__animated animate__zoomOut');
                                    setTimeout(function () {
                                        movieContainer.remove();
                                    }, 1000);
                                    toastr.success('Movies deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}